* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --highlight: #FF57B2;
  --heading: #F8F8F8;
  --background: #1A1D23;
  --info: #BBBBBB;
  --body: #D7D7D7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: var(--heading);
}

p, span {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--heading);
}
